:root {
	--scheme-color-1: green;
	--scheme-color-2: teal;
	--scheme-color-3: purple;
	--scheme-border-color: black;
}
* {margin: 0; box-sizing: border-box;}
body {padding: 0; background: var(--scheme-color-1);}


iframe#topnav {position: fixed; width: 100vw; height: 10vh; border: none; z-index: 10; overflow: scroll}