html {font-family: "Lucida Console", Consolas, Monaco, monospace;}

html, body {width: 100%; height: 100%}

topnav, shadow {display: block; width: 100%}

topnav {height: 90%; background-color: var(--scheme-color-2);}

shadow {height: 10%; background: linear-gradient(to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0))}

navitem {display: inline-block; height: 100%; padding: calc(50vh - 0.5em) 3vw;  border-right: 2px var(--scheme-color-1) ridge;}

a {text-decoration: none; color: inherit}