:root {
	--icon-size: 70vh;
}


html {
	font-family: Tahoma, Geneva, sans-serif;
	overflow: hidden;
}

html, body, topnav {
	width: 100%;
	height: 100%;
}

topnav {
	display: flex;
	background-color: linear-gradient(to top,var(--scheme-color-2), var(--scheme-color-3));
}

a {
	text-decoration: none;
	color: inherit;
}

navitemout  {
	display: inline-flex;
    align-items: center;
	align-self: stretch;
	padding: 0 2vw;
    font-size: 29vmin;
	border-right: 1px var(--scheme-border-color) solid;
}

navitemout:hover  {
	background-color: var(--scheme-color-3);
}

navitemout.no-padding {
	padding: 0;
}

icon {
	margin: 0 calc(calc(100vh - var(--icon-size))/2 + 1px);
}

icon img {
	min-height: 16px;
	height: var(--icon-size);
}